.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.Item-list {
  
  text-align: left;
  /* background-color: #2980b9; */
}

.Item-list li {
  list-style: none;
  border: 1px dotted gray;
  width: 20%;
  height: 3em;  
  margin: auto;
  text-align: left;
}
